# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template
# IntelliJ project files
.idea
*.iml
out
target
/com.kuka.oms.base/test/
rebel.xml
# 忽略所有的 项目包下的, 所有的rebel.xml文件
oms-api/**/rebel.xml

